body {
    padding: 30px;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  tbody {
    border-spacing: collapse;
    border-spacing: 0;
    top: 50%;
    left: 50%;
  }
  td {
    width: 120px;
    height: 50px;
    text-align: center;
    border: 1px solid white;
    word-wrap: break-word;
    font-size: 14px;
  }
  tr.pr_entry td {
    border-bottom: 1pt solid grey;
    color: white;
    border: 1px solid white;
    background: black;
  }
  table {
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      table-layout: fixed;
      opacity: 0.8;
      border: 1px solid white;
  }
  th {
    text-align: center;
  }

  .top_right {
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: -10px;
    transform: translateY(-10px);
  }

  .popover-container {
    position: relative;
    width: 100%;
  }
  
  .popover {
    position: absolute;
    max-width: 40%;
    width: auto;
    max-height: 100%;
    height: auto;
    overflow: auto;
    white-space: normal;
    font-size: smaller;
    color: white;
    background-color: black;
    word-wrap: break-word;
  }

